NODE_ENV=development # development | production

PORT=5100

POSTGRES_PRISMA_URL="postgresql://postgres:root@localhost:5432/precifood_database?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://postgres:root@localhost:5432/precifood_database?schema=public"

GOOGLE_APPLICATION_CREDENTIALS_JSON=""

MODEL_URL=""

JWT_SECRET="secret"
JWT_SECRET_EXPIRE="24h"
JWT_SECRET_REFRESH="secret_refresh_token"
JWT_SECRET_REFRESH_EXPIRE="7d"